.nav {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  display: inline;
  margin: 2rem;
  padding: 1rem;
  font-size: 2rem;
}